:root {
    --color1: #252A34;
    --color2: #0F4C75;
    --color3: #FF5403;
    --color4: #FF6F3C;
    --color5: #303841;
    --color6: #37E2D5;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #252A34;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #FF6F3C;
    border-radius: 10px;
}

::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:vertical:decrement {
    height: 0px;
    background: transparent;
}